.navbar-brand img {
    position: absolute;
    top: 0;
    height: 130px;
    width: 130px;
}

.nav-link-top {
    font-weight: 800;
    color: #191919 !important; /* Bootstrap overwrite*/
    font-size: 20px;
    padding: 30px 25px 20px !important; /* Bootstrap overwrite*/
    font-family: 'Avenir Next', sans-serif;
    text-align: center;
}

.bottom-nav {
    position: absolute;
    top: 80px;
    left: 30%;
}

.nav-link-bottom {
    font-weight: 300;
    color: #191919 !important; /* Bootstrap overwrite*/
    font-size: 15px;
    padding: 15px 25px !important; /* Bootstrap overwrite*/
    font-family: 'Avenir Next', sans-serif;
}

.items {
    position: absolute;
    top: 40px;
    right: 0;
}

.search-icon {
    margin-right: 60px;
}

.language-selector {
    height: 20px;
    width: 30px;
}

.language-text {
    padding: 0 8px;
    font-weight: 300;
    color: #585858;
    font-size: 15px;
    font-family: 'Avenir Next', sans-serif;
}

.arrow {
    color: #585858;
    height: 15px;
    width: 15px;
}

.content {
    height: 500px;
}
